<h1>OBSTools API</h1>

<ul>
    <li>@Html.ActionLink("MediaPlayer API", "Index", "MediaPlayer")</li>
</ul>

<h1>OBSTools Widgets</h1>

<ul>
    <li>@Html.ActionLink("Current Song", "CurrentSong", "Widgets")</li>
</ul>